@media all {
  @font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Medium.eot');
    src: local('SF Pro Display Medium'), local('SFProDisplay-Medium'), url('../fonts/SFProDisplay-Medium.eot') format('embedded-opentype'), url('../fonts/SFProDisplay-Medium.woff2') format('woff2'), url('../fonts/SFProDisplay-Medium.woff') format('woff'), url('../fonts/SFProDisplay-Medium.ttf') format('truetype');
  }
  @font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-Semibold.eot');
    src: local('SF Pro Display Semibold'), local('SFProDisplay-Semibold'), url('../fonts/SFProDisplay-Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/SFProDisplay-Semibold.woff2') format('woff2'), url('../fonts/SFProDisplay-Semibold.woff') format('woff'), url('../fonts/SFProDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
}
@media all {
  .mobile_menu_overlay,
  .mobile_menu_container {
    position: fixed;
    top: 137px;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .mobile_menu_container,
  .mobile_menu_container ul li ul {
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    transition: all 200ms;
  }
  .mobile_menu_overlay {
    display: none;
    cursor: pointer;
    z-index: 120;
    background: rgba(0, 0, 0, 0.5);
  }
  .mobile_menu_container {
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px);
    width: 300px;
    overflow: hidden;
    z-index: 121;
    background: #3884da;
  }
  .mobile_menu_container.loaded {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  .mobile_menu_container .mobile_menu_content {
    overflow: auto;
    max-height: 100%;
    padding-bottom: 30px;
  }
  .mobile_menu_container ul {
    margin: 0;
    padding: 0;
  }
  .mobile_menu_container ul li {
    list-style: none;
  }
  .mobile_menu_container ul li a {
    display: block;
    padding: 15px 20px;
    line-height: 20px;
    font-size: 16px;
    background: #3884da;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
  }
  .mobile_menu_container ul li a.parent {
    padding-right: 50px;
    background: #3884da url("../img/mobile-menu/arrow_right.svg") right 20px center no-repeat;
    background-size: 20px;
  }
  .mobile_menu_container ul li a.parent:hover {
    background: #3c8de8 url("../img/mobile-menu/arrow_right.svg") right 20px center no-repeat;
    background-size: 20px;
  }
  .mobile_menu_container ul li a.back {
    padding-left: 50px;
    background: #3c8de8 url("../img/mobile-menu/arrow_left.svg") left 20px center no-repeat;
    background-size: 20px;
    box-sizing: border-box;
    min-height: 50px;
  }
  .mobile_menu_container ul li a.back:hover {
    background: #3c8de8 url("../img/mobile-menu/arrow_left.svg") left 20px center no-repeat;
    background-size: 20px;
  }
  .mobile_menu_container ul li a:hover {
    background: #3c8de8;
  }
  .mobile_menu_container ul li ul {
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #3884da;
    z-index: 2;
  }
  .mobile_menu_container ul li ul.loaded {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  .mobile_menu_container ul li ul.activity {
    overflow-y: auto;
    overflow-x: hidden;
  }
}
@media all and (max-width: 320px) {
  .mobile_menu_container {
    width: 240px;
  }
}
body,
html {
  box-sizing: border-box;
  line-height: 1.15;
  font-family: 'SF Pro Display';
}
.header {
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
}
@media (max-width: 991px) {
  .header {
    height: 137px;
    position: fixed;
    z-index: 999;
    background-color: #fff;
    width: 100%;
  }
}
.header-topline {
  background-color: #000;
  align-items: center;
}
@media (max-width: 576px) {
  .header-topline {
    height: 42px;
    align-items: center;
    justify-content: flex-start;
  }
}
@media (min-width: 1200px) {
  .header-topline {
    height: 32px;
  }
}
.header-topline-left {
  padding: 0, 15px;
}
@media (max-width: 576px) {
  .header-topline-left {
    height: 42px;
    max-width: 30%;
  }
}
.header-topline-link {
  display: flex;
  text-align: center;
  font-size: 11px;
  margin-right: 20px;
  transition: 0.2s;
  letter-spacing: 1px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
  align-items: center;
  text-align: left;
}
.header-topline-link:visited {
  color: #ffffff;
}
.header-topline-link:hover {
  color: #d2d2d2;
  text-decoration: none;
}
@media (max-width: 576px) {
  .header-topline-link {
    display: none;
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .header-topline-right {
    margin: 0;
    padding: 0;
    height: 42px;
  }
  .header-topline-right a {
    display: flex;
    align-items: center;
  }
}
.mobile-contact {
  height: 16px;
  margin-top: 2px;
}
@media (max-width: 576px) {
  .mobile-contact {
    display: flex;
    height: 42px;
    margin: 0;
  }
}
@media (max-width: 576px) {
  .mobile-display {
    display: flex;
  }
}
.social-network {
  margin-right: 10px;
  height: 16px ;
  width: 16px;
}
@media (max-width: 576px) {
  .social-network {
    width: 20px;
    height: 20px;
  }
}
.header-main {
  height: 80px;
  padding: 20px;
}
.header-logo {
  justify-content: center;
  align-items: center;
}
.header-logo img {
  height: 55px;
  width: 375px;
}
.header-main-nav ul {
  height: 100%;
  list-style: none;
  display: flex;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-left: 0;
}
@media (max-width: 992px) {
  .header-main-nav ul {
    display: none;
  }
}
.header-main-nav ul li:last-child {
  padding-right: 0;
}
.header-main-nav ul li:hover .sub-menu {
  display: flex;
}
.header-main-nav .nav-menu-link {
  font-size: 16px;
  display: flex;
  color: #000;
  text-decoration: none;
  font-weight: 600 ;
}
.header-main-nav .nav-menu-link:last-child {
  margin-right: 0ps;
}
.header-main-nav .nav-menu-link:hover {
  color: #000;
  text-decoration: none;
}
.header-main-nav .nav-logo {
  width: 110px;
  height: 42px;
}
.header-main-nav .sub-menu {
  display: none ;
  position: absolute;
  z-index: 99;
  box-shadow: 0 10 13px rgba(0, 0, 0, 0.0685009);
  height: 200px;
  max-width: 100%;
  background-color: white;
  left: 0;
  right: 0;
  min-height: 120px;
  margin-top: 13px;
  align-items: center;
  transition: 2s;
}
.header-main-nav .sub-menu:hover {
  display: flex;
}
.header-main-nav .sub-menu-item {
  width: 80px;
  height: 60px;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}
.header-main-nav .sub-menu-item:hover .sub-menu-link {
  color: #f11532;
}
.header-main-nav .sub-menu-link {
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 12px;
  color: #757575;
}
.header-main-nav .sub-menu-link:hover {
  color: #f11532;
}
.header-main-nav .wrap {
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
}
.underline {
  z-index: 101;
}
.underline:hover::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: black;
}
.wrap-logo {
  display: none;
  margin-right: 100px;
}
.wrap-logo-display .wrap-logo {
  display: inline;
}
.stickyeah {
  z-index: 100;
  background-color: white;
  height: 49px;
}
@media (max-width: 992px) {
  .stickyeah {
    display: none;
  }
}
@media (max-width: 991px) {
  .main-content {
    padding-top: 137px;
  }
}
.main-slider {
  margin-top: 8px;
  margin-bottom: 50px;
  width: 100%;
}
.slider-img {
  margin: 8px 10px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
@media (max-width: 1599px) {
  .slider-img {
    height: 370px;
    width: 930px;
  }
}
@media (max-width: 1439px) {
  .slider-img {
    height: 320px;
    width: 850px;
  }
}
@media (max-width: 1199px) {
  .slider-img {
    height: 310px;
    width: 750px;
  }
}
@media (max-width: 991px) {
  .slider-img {
    height: 250px;
    width: 550px;
  }
}
@media (max-width: 767px) {
  .slider-img {
    height: 170px;
    width: 350px;
  }
}
@media (max-width: 991px) {
  .slick-prev,
  .slick-next {
    display: none;
  }
}
.footer {
  margin-top: 50px;
}
.footer-link {
  line-height: 0;
  padding: 0;
  margin: 16px;
  color: #000;
  text-decoration: none;
  margin-right: 20px;
}
.footer-link:hover {
  color: #3d3d3d;
  text-decoration: none;
}
.footer-social-network {
  margin-right: 20px;
  width: 25px;
  height: 25px;
}
.footer-copyright {
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 12px;
  color: #969696;
  padding: 0 10px 50px;
}
.menu-container {
  display: none;
  z-index: 9;
}
@media (max-width: 992px) {
  .menu-container {
    display: flex;
    position: absolute;
  }
}
.menu-container .menu-btn {
  display: block;
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 1000;
}
.menu-container .menu-btn span {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: #000;
}
.menu-container .menu-btn span::after,
.menu-container .menu-btn span::before {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: #000;
  content: '';
  transition: 0.5s;
}
.menu-container .menu-btn span::before {
  transform: translateY(-5px);
}
.menu-container .menu-btn span::after {
  transform: translateY(5px);
}
.menu-container .menu-btn-active span::before {
  transform: rotate(-45deg);
  width: 10px;
  transform-origin: left bottom;
}
.menu-container .menu-btn-active span::after {
  transform: rotate(45deg);
  width: 10px;
  transform-origin: left top;
}
